Daily Sync Pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "schema": "metadata",
              "table": "pipelineconfig"
            },
            "schema": [],
            "linkedService": {
              "name": "Master_Bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "9b188807-1a81-89f3-489f-be914aee8a32",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Enabled Tables",
        "description": "- Source: PipelineConfig metadata table\n- Returns: Array of tables to process\n- Includes: LastPurgeDate for each table",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 5,
          "items": {
            "value": "@activity('Get Enabled Tables').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "2aab78c7-2d38-9c42-4358-a121e194d39e",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@{item().TableName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@{item().SchemaName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check table definition",
              "dependsOn": []
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'CREATE_TABLE')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "CommonDataServiceForAppsSource",
                        "query": {
                          "value": "<fetch top=\"1\">\n  <entity name=\"@{item().TableName}\">\n    <all-attributes />\n  </entity>\n</fetch>",
                          "type": "Expression"
                        },
                        "datasetSettings": {
                          "type": "CommonDataServiceForAppsEntity",
                          "schema": [],
                          "externalReferences": {
                            "connection": "47553726-c8ed-444b-a11b-9915574eac39"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "Append",
                        "applyVOrder": true,
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "schema": {
                              "value": "@{item().SchemaName}",
                              "type": "Expression"
                            },
                            "table": {
                              "value": "@{item().TableName}",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Master_Bronze",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "9b188807-1a81-89f3-489f-be914aee8a32",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Create New Table",
                    "description": "Create New Table (Auto Import Schema)",
                    "dependsOn": []
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "4197dd20-7ce4-b3cc-428e-eb03288d7c4d",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Truncate table",
                    "dependsOn": [
                      {
                        "activity": "Create New Table",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "699e697a-cccf-9321-4f45-09ac6b647c07",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Optimize on create",
                    "dependsOn": [
                      {
                        "activity": "Truncate table",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "table_creation_output",
                      "value": "@{string(activity('Create New Table').output)}"
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Set table_creation_output",
                    "dependsOn": [
                      {
                        "activity": "Optimize on create",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Table needs to be created",
              "description": "",
              "dependsOn": [
                {
                  "activity": "Check table definition",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'ADD_TRACKING_COLUMNS')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "2fefae3c-3336-a131-43e9-ff52271e1514",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Add Tracking Columns",
                    "description": "Ensure Tracking Columns",
                    "dependsOn": []
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "tracking_columns_output",
                      "value": "@{string(activity('Add Tracking Columns').output)}"
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Set tracking_columns_output",
                    "dependsOn": [
                      {
                        "activity": "Add Tracking Columns",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Needs Tracking Columns",
              "dependsOn": [
                {
                  "activity": "Table needs to be created",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'VALIDATE_SCHEMA')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "8765d33d-4dc2-4f88-8437-08a4c9f72bb5",
                      "workspaceId": "b0f83c07-a701-49bb-a165-e06ca0ee4000"
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Handle Schema Drift",
                    "state": "Inactive",
                    "onInactiveMarkAs": "Succeeded",
                    "dependsOn": []
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Needs schema validation",
              "state": "Inactive",
              "onInactiveMarkAs": "Succeeded",
              "dependsOn": [
                {
                  "activity": "Needs Tracking Columns",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@not(empty(item().LastDailySync))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "CommonDataServiceForAppsSource",
                        "query": {
                          "value": "@{json(activity('Build table fetch query').output.result.exitValue).fetchxml_query}",
                          "type": "Expression"
                        },
                        "datasetSettings": {
                          "type": "CommonDataServiceForAppsEntity",
                          "schema": [],
                          "externalReferences": {
                            "connection": "47553726-c8ed-444b-a11b-9915574eac39"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "Upsert",
                        "upsertSettings": {
                          "keys": {
                            "value": "@array(item().PrimaryKeyColumn)",
                            "type": "Expression"
                          }
                        },
                        "applyVOrder": true,
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "schema": {
                              "value": "@{item().SchemaName}",
                              "type": "Expression"
                            },
                            "table": {
                              "value": "@item().TableName",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Master_Bronze",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "9b188807-1a81-89f3-489f-be914aee8a32",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Upsert Current Records",
                    "dependsOn": []
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "upsert_records_output",
                      "value": {
                        "value": "@{string(activity('Upsert Current Records').output)}",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Set upsert_records_output",
                    "dependsOn": [
                      {
                        "activity": "Upsert Current Records",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Table needs daily sync",
              "dependsOn": [
                {
                  "activity": "Build table fetch query",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "cfae5d46-c72d-aef1-4085-3692377a060c",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "schema_name": {
                    "value": {
                      "value": "@{item().SchemaName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "table_name": {
                    "value": {
                      "value": "@{item().TableName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "last_daily_sync": {
                    "value": {
                      "value": "@{item().LastDailySync}",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Build table fetch query",
              "dependsOn": [
                {
                  "activity": "Needs schema validation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@empty(item().LastDailySync)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "CommonDataServiceForAppsSource",
                        "query": {
                          "value": "@{json(activity('Build table fetch query').output.result.exitValue).fetchxml_query}",
                          "type": "Expression"
                        },
                        "datasetSettings": {
                          "type": "CommonDataServiceForAppsEntity",
                          "schema": [],
                          "externalReferences": {
                            "connection": "47553726-c8ed-444b-a11b-9915574eac39"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "Append",
                        "applyVOrder": true,
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "schema": {
                              "value": "@{item().SchemaName}",
                              "type": "Expression"
                            },
                            "table": {
                              "value": "@item().TableName",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Master_Bronze",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "9b188807-1a81-89f3-489f-be914aee8a32",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Append Current Records",
                    "dependsOn": [
                      {
                        "activity": "Check whether table is empty",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "5be21d13-86a4-9593-47fd-94446cecbb5b",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update LastSynced",
                    "dependsOn": [
                      {
                        "activity": "Set append_records_result",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "d3f61db2-aeaa-b09a-4917-0e1df0f418a6",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Check whether table is empty",
                    "dependsOn": []
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "append_records_output",
                      "value": {
                        "value": "@{string(activity('Append Current Records').output)}",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Set append_records_result",
                    "dependsOn": [
                      {
                        "activity": "Append Current Records",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Table needs initial sync",
              "dependsOn": [
                {
                  "activity": "Build table fetch query",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "244278fb-87f9-a5b4-4594-1aafd743db04",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@{item().TableName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "pipeline_run_id": {
                    "value": "@{pipeline().RunId}",
                    "type": "string"
                  },
                  "pipeline_trigger_time": {
                    "value": "@{pipeline().TriggerTime}",
                    "type": "string"
                  },
                  "schema_check_result": {
                    "value": "@{activity('Check Table Definition').output.result.exitValue}",
                    "type": "string"
                  },
                  "table_creation_result": {
                    "value": {
                      "value": "@{variables('table_creation_output')}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "tracking_columns_result": {
                    "value": {
                      "value": "@{variables('tracking_columns_output')}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "upsert_records_result": {
                    "value": {
                      "value": "@{variables('upsert_records_output')}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "append_records_result": {
                    "value": {
                      "value": "@{variables('append_records_output')}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "delete_detection_result": {
                    "value": {
                      "value": "@{variables('delete_detection_output')}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "purge_detection_result": {
                    "value": {
                      "value": "@{variables('purge_detection_output')}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": "@{item().SchemaName}",
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Execution",
              "dependsOn": [
                {
                  "activity": "Table needs daily sync",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "Table needs initial sync",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Process Tables",
        "dependsOn": [
          {
            "activity": "Get Enabled Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "table_creation_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "tracking_columns_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "upsert_records_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "append_records_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "delete_detection_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "purge_detection_output": {
        "type": "String",
        "defaultValue": "\"\""
      }
    }
  }
}