90cfa79d-abb7-890a-4eff-f63176ab52c4.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "schema": "metadata",
              "table": "pipelineconfig"
            },
            "schema": [],
            "linkedService": {
              "name": "Master_Bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "9b188807-1a81-89f3-489f-be914aee8a32",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Enabled Tables",
        "description": "- Source: PipelineConfig metadata table\n- Returns: Array of tables to process\n- Includes: LastPurgeDate for each table",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 5,
          "items": {
            "value": "@activity('Filter syncEnabled').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "2aab78c7-2d38-9c42-4358-a121e194d39e",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@{item().TableName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@{item().SchemaName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check table definition",
              "dependsOn": []
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'CREATE_TABLE')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "CommonDataServiceForAppsSource",
                        "datasetSettings": {
                          "type": "CommonDataServiceForAppsEntity",
                          "typeProperties": {
                            "entityName": {
                              "value": "@item().TableName",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "externalReferences": {
                            "connection": "47553726-c8ed-444b-a11b-9915574eac39"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "Append",
                        "applyVOrder": true,
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "schema": {
                              "value": "@{item().SchemaName}",
                              "type": "Expression"
                            },
                            "table": {
                              "value": "@{item().TableName}",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Master_Bronze",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "9b188807-1a81-89f3-489f-be914aee8a32",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 300,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Create New Table",
                    "description": "Create New Table (Auto Import Schema)",
                    "dependsOn": []
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "699e697a-cccf-9321-4f45-09ac6b647c07",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Optimize on create",
                    "dependsOn": [
                      {
                        "activity": "Create New Table",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "b1f00094-24e9-a43c-44e5-f6ee22bf399c",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@item().TableName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@item().SchemaName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "pipeline_run_id": {
                          "value": {
                            "value": "@{pipeline().RunId}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "pipeline_trigger_time": {
                          "value": {
                            "value": "@{pipeline().TriggerTime}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "table_creation_result": {
                          "value": {
                            "value": "@{string(activity('Create New Table').output)}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_check_result": {
                          "value": {
                            "value": "@{activity('Check Table Definition').output.result.exitValue}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Log table created",
                    "dependsOn": [
                      {
                        "activity": "Optimize on create",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Table needs to be created",
              "description": "",
              "dependsOn": [
                {
                  "activity": "Check table definition",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'ADD_TRACKING_COLUMNS')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "2fefae3c-3336-a131-43e9-ff52271e1514",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@{item().TableName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@{item().SchemaName}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Add Tracking Columns",
                    "description": "Ensure Tracking Columns",
                    "dependsOn": []
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "1f7fa146-452c-ac79-426f-4255aed66501",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "schema_name": {
                          "value": {
                            "value": "@item().SchemaName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "table_name": {
                          "value": {
                            "value": "@item().TableName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "pipeline_run_id": {
                          "value": {
                            "value": "@{pipeline().RunId}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "pipeline_trigger_time": {
                          "value": {
                            "value": "@{pipeline().TriggerTime}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "tracking_columns_result": {
                          "value": {
                            "value": "@{activity('Add Tracking Columns').output.result.exitValue}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Log tracking columns added",
                    "dependsOn": [
                      {
                        "activity": "Add Tracking Columns",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Needs Tracking Columns",
              "dependsOn": [
                {
                  "activity": "Table needs to be created",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'VALIDATE_SCHEMA')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "8765d33d-4dc2-4f88-8437-08a4c9f72bb5",
                      "workspaceId": "b0f83c07-a701-49bb-a165-e06ca0ee4000"
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Handle Schema Drift",
                    "state": "Inactive",
                    "onInactiveMarkAs": "Succeeded",
                    "dependsOn": []
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Needs schema validation",
              "state": "Inactive",
              "onInactiveMarkAs": "Succeeded",
              "dependsOn": [
                {
                  "activity": "Needs Tracking Columns",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(json(activity('Check table definition').output.result.exitValue).required_actions, 'SYNC_DATA')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "7f7e3a0a-cfbe-81f5-4905-dc1c9de56f73",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "schema_name": {
                          "value": {
                            "value": "@item().SchemaName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "table_name": {
                          "value": {
                            "value": "@item().TableName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "primary_key_column": {
                          "value": {
                            "value": "@item().PrimaryKeyColumn",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "lookback_range": {
                          "value": {
                            "value": "@pipeline().parameters.lookback_range",
                            "type": "Expression"
                          },
                          "type": "int"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Merge staged",
                    "dependsOn": []
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "2fd58142-d5a4-88c4-4c91-1ea14ae966e7",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "table_name": {
                          "value": {
                            "value": "@item().TableName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "schema_name": {
                          "value": {
                            "value": "@item().SchemaName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "primary_key": {
                          "value": {
                            "value": "@item().PrimaryKeyColumn",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "last_purge_date": {
                          "value": {
                            "value": "@item().LastPurgeDate",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Delete Detection",
                    "dependsOn": [
                      {
                        "activity": "Merge staged",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "8e366a3a-4f5f-b055-4ecb-509f5f19aa53",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "schema_name ": {
                          "value": {
                            "value": "@item().SchemaName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "table_name": {
                          "value": {
                            "value": "@item().TableName",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "pipeline_run_id": {
                          "value": {
                            "value": "@{pipeline().RunId}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "pipeline_trigger_time": {
                          "value": {
                            "value": "@{pipeline().TriggerTime}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "upsert_records_result": {
                          "value": {
                            "value": "@{activity('Merge staged').output.result.exitValue}",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "delete_detection_result": {
                          "value": {
                            "value": "@{activity('Delete Detection').output.result.exitValue}",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Log daily sync",
                    "dependsOn": [
                      {
                        "activity": "Delete Detection",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "Table needs daily sync",
              "dependsOn": [
                {
                  "activity": "Needs schema validation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "244278fb-87f9-a5b4-4594-1aafd743db04",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@{item().TableName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "pipeline_run_id": {
                    "value": {
                      "value": "@{pipeline().RunId}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "pipeline_trigger_time": {
                    "value": {
                      "value": "@{pipeline().TriggerTime}",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@{item().SchemaName}",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Execution",
              "dependsOn": [
                {
                  "activity": "Table needs daily sync",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Process Tables",
        "dependsOn": [
          {
            "activity": "Filter syncEnabled",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Enabled Tables').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item().SyncEnabled, bool('true')) ",
            "type": "Expression"
          }
        },
        "name": "Filter syncEnabled",
        "dependsOn": [
          {
            "activity": "Get Enabled Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "lookback_range": {
        "type": "int",
        "defaultValue": 7
      }
    },
    "variables": {
      "table_creation_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "tracking_columns_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "upsert_records_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "append_records_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "delete_detection_output": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "purge_detection_output": {
        "type": "String",
        "defaultValue": "\"\""
      }
    }
  }
}